.main-card-layout {
  width: 100%;
}
.main-card-layout .card-head {
  background-color: var(--neutrals-200);
  position: relative;
}
.main-card-layout .head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-card-layout .head-content ul {
  display: flex;
}
.main-card-layout .head-content ul a {
  padding: 8px 24px;
  list-style: none;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  color: var(--neutrals-600);
}
.main-card-layout .head-content ul a.active {
  color: var(--neutrals-900);
  background-color: white;
  font-weight: 600;
}
.main-card-layout .none {
  color: var(--neutrals-700);
  font-weight: 500;
}
.main-card-layout .dropdown-container-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.main-card-layout .dropdown-container-con .err-message-mobile {
  display: none;
  font-size: 11px;
  color: red;
  position: absolute;
  left: 0;
  top: 4px;
}
.main-card-layout .dropdown-container-con > .left {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  width: 100%;
  margin-right: 20px;
}
.main-card-layout .dropdown-container-con > .right {
  display: flex;
  align-items: center;
}
.main-card-layout .dropdown-container-con .dropdown-name {
  width: 100%;
}
.main-card-layout .dropdown-container-con .dropdown-name.name {
  margin-right: 8px;
}
.main-card-layout .buttons-con {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.main-card-layout .buttons-con .apply-btn {
  border-radius: 8px;
  background: var(--primary-500, #462aff);
  padding: 10px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}
.main-card-layout .buttons-con .apply-btn:hover {
  background-color: var(--primary-700);
}
.main-card-layout .buttons-con .clear-btn {
  padding: 10px 16px;
  color: var(--neutrals-500, #9a9a9a);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}
.main-card-layout .dropdown-container-con > .right .date-container .from,
.main-card-layout .dropdown-container-con > .right .date-container .to {
  width: 236px;
}
.main-card-layout .dropdown-container-con > .right .date-container .to {
  margin-left: 8px;
}
.main-card-layout .dropdown-container-con > .right .date-container .date-picker-a {
  height: 41.5px;
  border-radius: 8px;
  border: 0.4px solid var(--neutrals-300, #ddd);
}
.main-card-layout .dropdown-container-con > .right .datepicker-filter-modal-btn {
  color: var(--neutrals-600);
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: 0.4px solid var(--neutrals-300);
  padding: 10px 12px;
  display: none;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  background: var(--neutrals-100, #f4f4f4);
}
@media screen and (max-width: 1435px) {
  .main-card-layout .dropdown-container-con > .left {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1320px) {
  .main-card-layout .dropdown-container-con {
    flex-direction: column;
  }
  .main-card-layout .dropdown-container-con > .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .main-card-layout .dropdown-container-con .dropdown-name.name {
    margin-right: 8px;
    width: auto;
  }
  .main-card-layout .dropdown-container-con .dropdown-name.lesson-status  {
    margin-left: 8px;
    width: auto;
  }
  .main-card-layout .dropdown-container-con .dropdown-name.lesson-status .dropdown-head {
    width: 100%;
  }
 
  .main-card-layout .dropdown-container-con > .right {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  .main-card-layout .dropdown-container-con > .right .date-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 12px;
  }
  .main-card-layout .dropdown-container-con > .right .date-container .from, 
  .main-card-layout .dropdown-container-con > .right .date-container .to {
    width: auto;
  }
  .main-card-layout .dropdown-container-con > .right .date-container .to {
    margin-left: 8px;
  }
  .main-card-layout .dropdown-container-con > .right .date-container .from {
    margin-right: 8px;
  }
}

@media screen and (max-width: 800px) {
  .main-card-layout {
    width: 100%;
  }
  .main-card-layout .head-content ul a {
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  .main-card-layout .dropdown-container-con {
    position: relative;
  }
  .main-card-layout .dropdown-container-con .err-message-mobile {
    display: flex;
  }
  .main-card-layout .head-content ul a {
    font-size: 14px;
    padding: 8px 16px;
  }
  .main-card-layout .dropdown-container-con .dropdown-name.name {
    margin-right: 4px;
  }
  .main-card-layout .dropdown-container-con .dropdown-name.lesson-status {
    margin-left: 4px;
  }


  .main-card-layout .dropdown-container-con > .right{
    margin-left: 0;
  }
  .main-card-layout .dropdown-container-con > .right .date-container,
  .main-card-layout .dropdown-container-con > .right .buttons-con {
    display: none !important;
  }
  .main-card-layout .dropdown-container-con > .right .datepicker-filter-modal-btn {
    display: flex;
  }
}
 



/* PAGINATION */
:where(.css-dev-only-do-not-override-w8mnev).ant-pagination
  .ant-pagination-item-active
  a {
  color: #1e1e1e;
  background-color: #462aff;
  border: none;
  border-radius: 4px;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-pagination
  .ant-pagination-item-active {
  border: none;
  color: white;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-pagination
  .ant-pagination-item-active
  a {
  color: white;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-pagination
  .ant-pagination-item
  a {
  font-size: 16px;
  font-weight: 600;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-pagination
  .ant-pagination-item-active
  a:hover {
  color: white;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  display: none;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-pagination
  .ant-pagination-options {
  display: none;
}