.table-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.table-modal .mobile {
  display: none;
}
.table-modal .table-modal-container {
  background-color: white;
  width: 550px;
  padding: 40px 16px 16px 16px;
  border-radius: 8px;
  position: relative;
  display: block;
  height: auto;
  max-height: 90%;
  /* overflow-y: auto; */
}
.table-modal .table-modal-container .table-modal-head .title {
  color: var(--neutrals-900, #1e1e1e);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.table-modal .table-modal-container .close-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.table-modal .table-modal-dropdown {
  width: 100%;
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
.table-modal .modal-dropdown {
  width: 100%;
  height: 49px;
  background-color: #f4f4f4;
  border: 0.5px solid #dddddd;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.table-modal .modal-dropdown h4 {
  color: #717171;
  font-weight: 500;
  font-size: 12px;
}
.table-modal .modal-dropdown p {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-modal .modal-dropdown p:nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #1e1e1e;
  padding-right: 20px;
  max-width: 200px;
}
.table-modal .modal-dropdown.disabled {
  pointer-events: none;
}
.table-modal .modal-dropdown.disabled p,
.table-modal .modal-dropdown.disabled h4 {
  color: #9a9a9a;
}
.table-modal .modal-dropdown .dropdown-icon-con {
  transition: 0.3s;
  cursor: pointer;
}
.table-modal .modal-dropdown .dropdown-icon-con.down {
  transform: rotate(0deg);
}
.table-modal .modal-dropdown .dropdown-icon-con.up {
  transform: rotate(180deg);
}
.table-modal .modal-dropdown.disabled .dropdown-icon-con svg path {
  stroke: #9a9a9a;
}
.table-modal .table-modal-students {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.table-modal .table-modal-students h4 {
  margin-bottom: 15px;
  margin-right: 12px;
  color: var(--neutrals-600);
  font-size: 16px;
  font-weight: 600;
}
.table-modal .table-add-student-con {
  position: relative;
}
.table-modal .table-add-student-con .err-message {
  color: red;
  position: absolute;
  top: -22px;
  right: 0;
  font-size: 12px;
}
.table-modal .table-add-student {
  display: flex;
  background-color: #eee6ff;
  padding: 4px 8px;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-left: 10px;
  color: #462aff;
  font-size: 14px;
  font-weight: 600;
}
.table-modal .table-add-student svg {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.table-modal .table-add-student svg path {
  stroke-width: 2px;
}

.table-modal .table-modal-container .tablemodal-save-btn {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  margin-top: 30px;
  height: 50px;
}
.table-modal .table-modal-container .tablemodal-save-btn .delete-btn-mobile {
  padding: 12px 24px;
  width: 100%;
  border-radius: 8px;
  background: var(--error-50, #ffebee);
  color: var(--error-600, #f03b2a);
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  display: none;
}
.table-modal .table-modal-container .tablemodal-save-btn .delete-btn-desktop {
  background-color: white;
  cursor: pointer;
  border: none;
  opacity: 0;
  visibility: hidden;
}

.table-modal
  .table-modal-container
  .tablemodal-save-btn
  .delete-btn-desktop.active {
  opacity: 1;
  visibility: visible;
}

.table-modal .tablemodal-save-btn .save-btn {
  padding: 8px 24px;
  background-color: var(--primary-500);
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  min-width: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-modal .tablemodal-save-btn .save-btn:disabled {
  background-color: #b29bff;
}

.add-students {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.add-student-data {
  background-color: white;
  border-radius: 8px;
  width: 250px;
}
.add-student-data h4 {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 8px 0 13px 0;
}
.add-student-container {
  position: relative;
  padding: 8px 24px;
}

.add-student-container .add-student-close-icon svg {
  position: absolute;
  right: 8px;
  top: 0;
  cursor: pointer;
}
.table-modal .student-filter {
  display: flex;
  justify-content: center;
  position: relative;
}
.table-modal .student-filter input {
  background-color: #f4f4f4;
  border-radius: 8px;
  width: 216px;
  height: 28px;
  padding-left: 45px;
}
.table-modal .student-filter svg {
  position: absolute;
  left: 20px;
  top: 3px;
  cursor: pointer;
}
.table-modal .student-filter input::placeholder {
  font-size: 15px;
  color: #9a9a9a;
  padding: 0 0 0 25px;
}
.table-modal .select-students {
  margin-top: 13px;
  overflow-y: auto;
  max-height: 240px;
}
.table-modal .select-students .more-btn {
  padding: 6px 14px;
  background-color: var(--primary-500);
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-modal .select-students .more-btn:disabled {
  background-color: #b29bff;
}
.table-modal .select-students .select-student {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  position: relative;
}
.table-modal .select-students .select-student.disabled label {
  color: #b9b9b9;
}

.table-modal .select-students .select-student.disabled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.table-modal .select-students .select-student:last-child {
  margin-bottom: 0;
}
.table-modal .select-students .select-student input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.table-modal .select-students .select-student input:focus {
  background-color: #462aff;
}
.table-modal .select-students label {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 600;
  margin-left: 13px;
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-modal .modal-dropdown {
  position: relative;
  width: 100%;
}
.table-modal .dropdown-head {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 2px 12px;
  height: 100%;
  cursor: pointer;
}
.table-modal .dropdown-head .drop-content {
  overflow: hidden;
}
.table-modal .dropdown-body {
  position: absolute;
  top: 44px;
  overflow-y: auto;
  max-height: 186px;
  width: 100%;
  background-color: #f4f4f4;
  border: 0.4px solid #dddddd;
  border-radius: 8px;
  margin-top: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(4px);
  transition: 0.3s;
}
.table-modal .dropdown-body.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.table-modal .dropdown-body li {
  padding: 8px 12px;
  padding-left: 36px;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #ddd;
}
.table-modal .dropdown-body li:last-child {
  border-bottom: none;
}
.table-modal .dropdown-body li:hover {
  background: var(--primary-50);
}
.table-modal .dropdown-body li svg {
  position: absolute;
  left: 6px;
}
.table-modal .dropdown-body li.disabled {
  pointer-events: none;
  color: #9a9a9a;
}
.table-modal .checked-students {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  gap: 10px;
}
.table-modal .checked-students .checked-student {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 4px 8px;
}
.table-modal .table-modal-students .checked-students .checked-student h5 {
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 600;
}
.table-modal .table-modal-students .checked-students .checked-student svg {
  margin-left: 8px;
  cursor: pointer;
  width: 12px;
  height: 12px;
}
.table-modal .create-class-err-message {
  font-size: 15px;
  color: red;
  text-align: end;
}
.table-modal .mobile-student-add-header {
  display: none;
}
@media screen and (max-width: 600px) {
  /* .table-modal .table-modal-container {
    display: none;
  } */
  .table-modal {
    flex-direction: column;
    background: var(--neutrals-200, #ececec);
  }
  .table-modal .mobile {
    display: inline-block;
  }
  .table-modal .table-modal-container .close-icon.desktop {
    display: none;
  }
  .table-modal .table-modal-head {
    padding: 16px 12px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 8px;
  }
  .table-modal .table-modal-head .close-icon {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .table-modal .table-modal-container {
    padding: 16px 12px;
    height: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .table-modal .table-modal-dropdown {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .table-modal .table-modal-students h4 {
    width: 100%;
    margin-bottom: 4px;
  }
  .table-modal .table-add-student {
    margin-left: 0px;
  }
  .table-modal .checked-students {
    gap: 0;
    row-gap: 12px;
  }
  .table-modal .checked-students .checked-student {
    margin-right: 12px;
  }
  .table-modal .table-modal-container .tablemodal-save-btn {
    height: auto;
    flex-direction: column;
  }
  .table-modal-container .tablemodal-save-btn .delete-btn-desktop {
    display: none;
  }
  .table-modal .table-modal-container .tablemodal-save-btn .delete-btn-mobile {
    display: block;
  }
  .table-modal .tablemodal-save-btn .save-btn {
    width: 100%;
    padding: 12px 24px;
  }


  .table-modal .add-student-data {
    /* display: none; */
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
  }

  .table-modal .student-filter input {
    width: 100%;
    padding: 8px 0 8px 45px;
  }
  .table-modal .select-students {
    margin-top: 25px;
    max-height: 84vh;
  }

  .table-modal .add-student-container h4,
  .table-modal .add-student-container .add-student-close-icon svg {
    display: none;
  }
  .table-modal .mobile-student-add-header {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-around;
  }
  .table-modal .mobile-student-add-header h4 {
    text-align: center;
    display: block;
    margin: 0;
  }
  .table-modal .mobile-student-add-header svg {
    position: absolute;
    left: 16px;
    top: 16px;
    display: block;
    cursor: pointer;
  }

  .table-modal .table-add-student {
    margin-left: 0;
  }

  .table-modal .table-modal-dropdown-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .table-modal .tablemodal-save-btn button:last-child {
    padding: 12px 24px;
  }
}
